@font-face {
    font-family: Raleway;
    src: url(../Raleway-Regular.ttf);
}

body {
    min-height: 100vh;
    background-color: #FFFF8C !important;
}

.landing-section {
    height : 80vh;
    width: 100vw;
    background-color: #028090;
    color: #FFFF8C;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.text-section {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.landing-section .text-section p {
    font-size: 1.5rem;
}

a {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
}

.landing-section a {
    min-width: 200px;
    text-decoration: none;
    color: #F8F9FA;
    border: 0.1rem solid #F8F9FA;
}

.landing-section a:hover {
    min-width: 400px;
    text-decoration: none;
    color: #212529;
    background-color: #F8F9FA;
    border-color: #F8F9FA;
}

.about-project {
    margin-top: 4rem;
    padding-bottom: 5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #922D50;
}

.about-project .button {
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.about-project a {
    text-decoration: none;
    color: #DC3545;
    border: 0.1rem solid #DC3545;
}

.about-project a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DC3545;
    border-color: #DC3545;
}

.contact-section {
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #922D50;
    color: #FFFF8C;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
}